*{
    margin:0;
    padding:0;
}

:root{
    --navLinksColour: rgb(1, 1, 1);
}

header{
    background: rgb(39, 244, 217);
}

.header-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    width: 70vw;
    margin:auto;
}

header img{
    width: 20%;
}

nav > ul{
    display: flex;
    gap:20px;
    flex-direction: column;
}

li{
    list-style-type: none;
   /* display: block; */
    background-color: rgb(255, 255, 255);
    text-align: center;
}

header a{
    color: var(--navLinksColour);
    text-decoration: none;
}

.collapse:not(.show){
    display: none;
}

#collapseButton{
    background: rgb(150, 10, 150);
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
}

#collapseButton:hover{
    cursor:pointer;
}

@media screen and (min-width: 700px){

    .collapse:not(.show){
        display: unset;
    }

    nav > ul{
        display: flex;
        flex-direction: row;
        gap:40px;
    }

    #collapseButton{
        display: none;
    }
}

.modal{
    z-index: 10;
    height:300px;
    width: 500px;
    position: fixed;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    padding:20px;
}

#modalButton{
    color: rgb(0,0,0);
    background:rgb(39, 244, 217);
    border: none;
    font-size: 1.25em;
    padding: 20px 30px;
    border-radius: 5px;
}

#modalButton:hover{
    cursor: pointer;
}
